<html>
<head>
</head>
<body>
<form id="fm" method="post" target="myframe">
			<div class="fitem">
				<label>角色名:</label><input name="name" class="easyui-textbox" th:value="${bean?.name }" required="true"/>
				<input type="hidden" name="id" th:value="${bean?.id }"/>
			</div>
			<div class="fitem">
				<label>角色标识:</label><input name="role" class="easyui-textbox" th:value="${bean?.role }" required="true"/>
			</div>
			<div class="fitem">
				<label>角色描述:</label><input name="description" th:value="${bean?.description }" class="easyui-textbox"/>
			</div>
		</form>
</body>
</html>