<!DOCTYPE html>
<html>
<head>
</head>
<body>
<form id="fm" method="post" target="myframe" >
			<div class="fitem">
			<label>标题:</label> <input name="subject" class="easyui-textbox" data-options="validType:'length[1,15]'" required="true" style="width:75%;" th:value="${subject}"/>
			</div>
			<div class="fitem">
			<label>内容:</label>
			<input class="easyui-textbox" name="message" data-options="multiline:true" style="width:75%;height:100px" th:value="${message}" />
	        </div>
	        <label>接收人:</label>
	        <div style="border-top: 1px solid #ddd;margin-top: 20px;margin-bottom:60px;height: 80px;">  
               <div style="float: left;width: 100px;" th:each="user:${list}"><input type="checkbox" th:value="${user.id}" name="ids"/><span th:text="${user.userChnName}"></span></div>
            </div>
            <div >
            
            </div>
            <input id="file_upload" name="myfiles" type="file" multiple="true" />
    <div id="xxxxxx"></div>
   <script type="text/javascript">
	  /*<![CDATA[*/
$(function() {
    $("#file_upload").uploadify({
        height        : 30,
        swf           : '/hgerp/uploadify/uploadify.swf',
        uploader      : '/hgerp/fileManage/upload',
        width         : 120,
        buttonText: '添加附件',
        fileTypeExts: '*.*',
        fileObjName: 'myfiles',
        fileSizeLimit:'100000',
        multi: true,
        simUploadLimit : 20,
        removeCompleted : false,
        auto: true,
        onUploadSuccess: function (file, data, response) {
        	$("#xxxxxx").append('<input type="hidden" name="files" id="'+file.id+'" value="'+data+'"/> ');
        	
            var cancel=$('#file_upload-queue .uploadify-queue-item[id="' + file.id + '"]').find(".cancel a");
            if (cancel) {
                cancel.attr("deletefileid",data);
                cancel.click(function () {
                   //我的处理逻辑
                   //1.首先调用ajax 传递文件名到后台,后台删除对应的文件(这个我就不写了)
                   //2.从后台返回的为true,表明删除成功;返回false,表明删除失败
                     var deletefileid = cancel.attr("deletefileid");
                     $("#uploadify").uploadify("cancel",deletefileid);//将上传队列中的文件删除.
                     $("#xxxxxx").find("#"+file.id+"").remove();
               });
            }
        },
        onClearQueue : function(queueItemCount) {
           alert(queueItemCount + ' file(s) were removed from the queue');
           console.log(queueItemCount);
           //$("#xxxxxx").find("#"+file.id+"").remove();
        }
    });
});
		/*]]>*/
</script>
</form>
</body>
</html>